.app-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: var(--header-size);
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .header-bar {
    z-index: -1;
    left: 0;
    position: fixed;
    height: var(--header-size);
    width: 100%;
    opacity: 0.1;
    background-color: var(--color-primary);
  }
  & .back-button {
    color: var(--color-background);
  }
  &-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-icon {
      width: 32px;
      height: 32px;
      padding: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--color-background);
      color: var(--color-secondary);
    }
  }
  &-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    & svg {
      display: none;
    }
  }
}
