.main-layout {
  height: 100vh;
  &-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--color-background);
    padding-top: var(--header-size);
    &-content {
      height: 100%;
    }
  }
}
