.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
  padding: 8px 16px;
  box-sizing: border-box;
  & .container {
    height: 100%;
  }
}
