.main-layout {
  height: 100vh;
  &-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--color-background);
    height: 100%;
    &.with-footer {
      height: calc(100vh - 56px); // 56px is the height of the footer
    }
    &:not(.with-footer) {
      padding-top: 56px;
    }
    &-content {
      height: 100%;
    }
  }
}
