#select-role-page {
  & .content {
    display: flex;
    transform: translateY(-40%);
    margin: auto;
    flex-direction: column;
    gap: 20px;
    & .description {
      text-align: center;
    }
    & .buttons {
      display: flex;
      flex-direction: column;
      margin: auto;
      gap: 24px;
    }
  }
}
