.app-input {
  border-color: var(--color-main);
  background: var(--color-white);
  padding: 8px 16px;
  font-size: 24px;
  color: var(--color-text);
  outline: none !important;
  border-radius: 4px;
}
