.app-input {
  border-color: var(--color-primary);
  background: var(--color-background);
  padding: 4px 8px;
  font-size: 16px;
  color: var(--color-on-background);
  outline: none !important;
  border-radius: 4px;
}
