#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .page-header {
    height: 250px;
    & .logo-container {
      margin-top: -40px;
    }
  }
  & .form-container {
    display: flex;
    height: 100%;
    max-width: 300px;
    margin: 14px auto;
    flex-direction: column;
    gap: 24px;
    & .form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .login-back-button-container {
        height: 38px;
        align-self: flex-start;
        .login-back-button {
          display: flex;
          gap: 8px;
          & .app-button {
            padding: 0 !important;
          }
        }
      }
      & > button {
        position: fixed;
        bottom: 15px;
      }
    }
  }
}
