#group-settings-page {
  & .MuiPaper-root {
    width: calc(100% - 24px);
  }
  & .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100% - 140px);
    margin-top: 14px;
    & .form-content {
      display: flex;
      padding: 14px 0;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      align-items: center;
      gap: 16px;
      flex: 1;
      margin-bottom: 24px;
      & .name-field {
        height: 80px;
      }
      & label {
        text-align: center;
        color: var(--color-on-background);
      }
      & .image-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
}
