#master-home-page {
  .content {
    gap: 24px;
    justify-content: center;
    .group-list {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
    }
  }
}
