.no-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  transform: translateY(-50%);
}
.group-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
