.logo {
  & .border {
    fill: var(--color-primary);
  }
  & .secondary {
    fill: var(--color-secondary);
  }
  & .filled {
    fill: var(--color-background);
  }
  & .dice {
    &-inside {
      fill: var(--color-surface);
    }
  }
}
