:root {
  font-family: "Montserrat", serif;
  width: 100vw;
  line-height: 1.5;

  --header-size: 60px;
  --footer-size: 50px;

  --color-dominant: #f7971e;
  --color-accent-4: #d2d1d3;
  --color-accent-1: #1b1b1b;
  --color-accent-2: #303135;
  --color-accent-3: #4b4f50;
  --color-accent-4: #dbdcdd;

  --color-primary: #006d7c;
  --color-on-primary: #dbdcdd;
  --color-secondary: #374151;
  --color-background: #dbf2e8;
  --color-on-background: #000;
  --color-surface: #2c9da5;
  --color-on-surface: #ffffff;
  --color-accent: #2c9da5;

  // --color-main: #056842;
  // --color-white: #f9f6c9;
  // --color-background: #fffbbd;
  --color-danger: #ca3c25;
  --color-success: #7fb069;
  --color-warning: #e6aa68;
  --color-text: var(--color-on-background);
  --color-grey: #666666;
  --color-transparent-grey: #57564454;

  --color-transparent-success: #7fb06980;
  --color-transparent-warning: #e6aa6880;
  --color-transparent-surface: #2c9da580;
  // --color-secondary: #90a955;

  --mui-typography-font-family: "Montserrat", serif !important;
  --mui-palette-primary-main: var(--color-primary) !important;
  --mui-palette-secondary-main: var(--color-secondary) !important;
  --mui-palette-error-main: var(--color-danger) !important;
  --mui-palette-success-main: var(--color-success) !important;
  --mui-palette-warning-main: var(--color-warning) !important;
  --mui-palette-text-main: var(--color-warning) !important;
  --mui-palette-primary-mainChannel: default !important;
  --mui-palette-primary-dark: var(--color-on-primary) !important;
  --mui-palette-action-disabled: var(--color-accent-4) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-text);
}

body {
  margin: 0;
  // background-color: var(--color-primary);
}

.dialog-title {
  font-size: 15px !important;
  padding: 8px 16px 0px !important;
}

.dialog-content {
  font-size: 14px !important;
  padding: 8px 16px 0px !important;
}

.MuiPaper-root {
  // background-color: var(--color-secondary) !important;
  border-radius: 32px !important;
  border: none;
  box-shadow: 0px 0px 4px 2px var(--color-transparent-grey) !important;
}

.MuiButton-root {
  // .MuiButton-containedPrimary {
  //   &:not(.Mui-disabled) {
  //     background-color: var(--color-accent) !important;
  //   }
  // }
  padding: 8px 32px !important;
  font-weight: bold !important;
  border-radius: 32px !important;
}
