:root {
  font-family: "Montserrat", serif;
  width: 100vw;
  line-height: 1.5;

  --color-main: #056842;
  --color-white: #f9f6c9;
  --color-background: #fffbbd;
  --color-danger: #ca3c25;
  --color-success: #7fb069;
  --color-warning: #e6aa68;
  --color-text: #29302d;
  --color-transparent-grey: #57564454;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-text);
}

body {
  margin: 0;
}

.dialog-title {
  font-size: 15px !important;
  padding: 8px 16px 0px !important;
}

.dialog-content {
  font-size: 14px !important;
  padding: 8px 16px 0px !important;
}
