:root {
  font-family: "Montserrat", serif;
  width: 100vw;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #056842;
  --color-white: #f9f6c9;
  --color-background: #fffbbd;
  --color-danger: #ca3c25;
  --color-success: #7fb069;
  --color-warning: #e6aa68;
  --color-text: #29302d;
}

* {
  color: var(--color-text);
}

body {
  margin: 0;
}
