.date-picker {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  .back-button-container {
    height: 32px;
    .back-button {
      padding: 8px 16px;
      color: var(--color-on-background);
      margin: 7px 0;
    }
  }
  & .MuiPaper-root {
    width: fit-content;
    margin: 8px auto;
  }
  & .MuiDateCalendar-root * {
    color: var(--color-text);
    font-size: 14px;
  }
  & .MuiPickersArrowSwitcher-button svg {
    font-size: 24px;
  }
  & .MuiPickersDay-root.Mui-selected:focus {
    background-color: var(--color-primary);
  }
  &-paper {
    position: relative;
    margin-top: 24px !important;
    & .date-tooltip {
      position: absolute;
      width: 120px;
      font-size: 14px;
      transform: translate(calc(-50% + 18px), calc(-100% - 10px));
      color: white;
      text-align: center;
      padding: 4px 8px;
      border-radius: 8px;
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
      }
      &.green {
        background-color: var(--color-success);
        &:after {
          border-color: var(--color-success) transparent transparent transparent;
        }
      }
      &.blue {
        background-color: var(--color-surface);
        &:after {
          border-color: var(--color-surface) transparent transparent transparent;
        }
      }
      &.yellow {
        background-color: var(--color-warning);
        &:after {
          border-color: var(--color-warning) transparent transparent transparent;
        }
      }
    }
  }
}
