.footer {
  height: var(--footer-size);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0px -1px 4px 0px var(--color-primary);
  &-main-button {
    &-container {
      position: absolute;
      width: calc(calc(100% - calc(120px * 2)) + 10px);
      z-index: 2;
      left: 50%;
      bottom: calc(50% + 8px);
      display: flex;
      transform: translate(-50%, 25%);
      width: 64px !important;
      height: 64px !important;
      border-radius: 50% !important;
      justify-content: center;
      background-color: var(--color-background);
      & .app-button {
        border: 1px solid var(--color-background);
        position: absolute;
        width: 64px !important;
        height: 64px !important;
        border-radius: 50% !important;
        margin-top: auto;
        background-color: var(--color-primary);
        color: white;
        display: flex;
        &:disabled {
          color: white;
          opacity: 0.7;
        }
      }
    }
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    &-action {
      width: 90px;
      height: 60px;
      box-sizing: border-box;
      z-index: 1;
      background-color: var(--color-primary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 0px 0px 0 0;
      &-icon {
        display: flex;
        height: 60px;
        width: 100%;
        & svg {
          margin: auto;
          fill: var(--color-primary);
          stroke: var(--color-on-surface) !important;
          transform: scale(1.4);
        }
        &.is-current {
          & svg {
            fill: var(--color-on-surface) !important;
          }
        }
      }
    }
  }
}
