.page {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  position: relative;
  overflow: hidden;
  height: calc(100% - var(--footer-size));
  overflow: visible;
  .back-button-container {
    height: 32px;
    .back-button {
      padding: 8px 16px;
      color: white;
    }
  }
  .logo-container {
    margin: 0 auto;
    width: fit-content;
    & svg {
      margin-bottom: calc(var(--header-size) / 2);
    }
  }
  .page-header {
    width: calc(100% - 32px);
    min-height: 40px;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--color-primary);
    border-radius: 0 0 32px 32px;
    padding: var(--header-size) 16px 32px;
    & .title-container {
      display: flex;
      & h1 {
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
